body,html{
    
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    
}

.app{
    height: 100%;
    width: 100%;
    background: url(./weather.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    text-align: center;
    padding: 1em;
    font-size: 20px;
    font-family: sans-serif;
}

.headline{  
    padding: 10px;
    color:black;
}


h1{
    text-align: center;
    font-size: 26px;   
}

#feelings{
height:50px;
margin: 10px auto;
display: block;
width: 30%;
border:1px solid black;
background-color:#696969;
font-size: 18px;
}
#zip,#generate{
    width: 25%;
    height: 30px;
    border:1px solid black;
    outline: none;
    display: block;
    text-align: center;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #696969;
    font-size: 18px;
    
}

.title{
    text-align: center;
    margin: 1em;
    font-size: 16px;
    font-weight: bold;
}

#entryHolder{

    padding: 25px;
    border: 1px solid sandybrown;
    margin: 20px auto;
    width: 30%;
    display: block;
    
}
#generate{
    cursor: pointer;
    background-color:lightslategray;
    margin-top: 15px;
    font-size: 18px;
    
}
#generate:hover{
    background-color: lightblue;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:none;
}
/* Style for Placeholder Text*/

::placeholder{
    color: #000;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#date,
#temp,
#content{
 text-align: left ;
 border: 1px  solid black;
 padding: 8px;
 margin: 10px auto;
 height: 40px;
 color: black;
 z-index: -99;
 font-weight:700;
 font-size: 18px
}





